.avatar {
    @apply
        w-40
        h-40
        bg-sky-400
        absolute
        rounded-2xl
        border-8
        border-white
        shadow-2xl
        inset-x-0
        mx-auto
        sm:inset-x-0
        sm:mx-auto
        lg:ml-8
        ;
    top: -4rem;
    background-image: url("./avatar.jpg");
    background-size: cover;
}